input {
  border: 5px solid white;
  box-shadow: inset 0 0 8px rgba(64, 98, 135, 0.34),
    0 0 16px rgba(64, 98, 135, 0.23);
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  font-size: 2.5vh;
  margin: auto;
  width: 50%;
  font-family: 'Crimson Text', serif;
}

.formContainer {
  width: 100%;
  background-color: #1d060614;
  box-shadow: 2px 2px 2px gainsboro;
  height: 26vh;
  padding-top: 3vh;
  animation-duration: 5s;
  animation-name: header-slide-open;
}

@keyframes header-slide-open {
  from {margin-top: -200px};
  to {margin-top: 0}

}

h1 {
  color: #416387;
  font-size: 6vh;
  text-shadow: 2px 2px white;
  margin-top: 0;
}

input:focus {
  outline: none;
}
