.aboveColor {
  background: rgb(152, 251, 152, 0.2);
}

.belowColor {
  background: rgb(219, 112, 147, 0.2)
}

.selectedCard {
  box-shadow: 0 8px 8px 0 rgba(102, 0, 0, 0.2);
}

.card {
  border-radius: 10px;
  border: 1px solid grey;
  cursor: pointer;
  width: 40vh;
  max-height: 56vh;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff63;
  cursor: pointer;
  transition: 0.3s;
  animation-duration: 2s;
  animation-name: card-opacity;
}

@keyframes card-opacity {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card li {
  width: 28%;
  padding-left: 5px;
  margin: auto;
  text-align: justify;
}

.card ul {
  padding: 0;
  list-style-type: none;
}

.card h3 {
  padding: 2vh;
  margin-top: 7.2px;
  box-sizing: border-box;
  box-shadow: 1px 1px #1f1010;
  color: whitesmoke;
  background-color: #416387;
  text-align: center;
}

.clicked {
  border: 3px solid #f443368c;
  background-color: #ff57220d;
}

.clicked:hover {
  box-shadow: 1px 1px red;
}
